.mainName {
    height: 100px;
    background-color: rgb(49, 49, 49);
    color:white; text-align: center;
    font-weight: 1000;
    font-size:60px; line-height: 100px;
    ;
}


.navi {
    font-size:large;
    text-align: center;
    font-weight: bold;
}

.mainDisplay {
    display:flex;
    height: fit-content;
}

.center {
    flex:content;
    border-left-width:0.1em;
    border-left-style:solid;
    border-left-color: rgb(99, 97, 97);
    padding:30px;
    margin-right:200px;
    border-right-width:0.1em;
    border-right-style:solid;
    border-right-color: rgb(99, 97, 97);
    background-color: white;
}

.Sname {
    font-weight: 700; font-size:25px
}

.listStyle {
    flex:content;
    background-color: white;
    padding: 10px;
}

.list {
    color:black;
    text-align:left;
    font-weight: bold;
    position:sticky; 
    width:200px;
    display:inline-block;
    right:1024px; 
    top:0%; 
    background-color: transparent;
    margin:0px;
    overflow:hidden;
}

P {
    line-height: 25px;
}

a {
    text-decoration-line:none;
    
}

.logo {
    text-align:center;
    height: 125px;
    background-color: white;
    
}

/* 링크 클릭시 색 안변하게 */
a:link { text-decoration:none; color:blue;}

a:visited { text-decoration:none;color:blue;}

a:active {text-decoration:none; color:blue; }

a:hover { text-decoration:underline;}

.java_eval {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow-x: auto;
    padding: 7px;
}

.normalBox {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow-x: auto;
    padding: 7px;
}

.specialBox {
    background: #eee;
    border: 2px dashed #ccc;
    border-left: 5px solid #71bc6d;
    display: table;
    margin: 1em 0;
    padding: 1em;
}

footer {
    font-size:large;
    text-align: center;
    font-weight: bold;
}

#goto-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

